
.table-responsive::-webkit-scrollbar, tbody.tbody::-webkit-scrollbar {
    display: none;
}
tbody::-webkit-scrollbar {
    display: none;
}

.btn-camera {
    width: 50px;
    height: 50px;
    position: absolute;
    right : 0;
    bottom : 0;
    cursor: pointer;

}
.profile-photo {
    width: 230px;
    height: 230px;
    margin: auto;
    overflow: hidden;
}
.btn-camera i {
    line-height: 50px;
    font-size: 20px;
}
a {
    color: rgb(39, 39, 39);
}

.foto-detail {
    height: 100%;
    
}

#invoice, #invoice .table {
    color: black;
}

#invoice h1{
    font-weight: bold;
    color: black;
    
}

#invoice .row{
    font-size: 30px;
}

#invoice .table {
    font-size: 30px;

}